In [21]:
#given data set
it_companies = ["Facebook", "Google"," Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [22]:
#Find the length of the set it_companies
len(it_companies)

7

In [55]:
#Add 'Twitter' to it_companies
it_companies = ["Facebook", "Google"," Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.append('twitter')
print(it_companies)

['Facebook', 'Google', ' Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'twitter']

In [57]:
#Insert multiple IT companies at once to the set it_companies
it_companies.extend(["cognizent","paytm"])
print(it_companies)

['Facebook', 'Google', ' Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'twitter', 'cognizent', 'paytm']

In [60]:
#Remove one of the companies from the set it_companies
it_companies.remove('paytm')
print(it_companies)

['Facebook', 'Google', ' Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'twitter', 'cognizent']

In [61]:
#What is the difference between remove and discard
print("remove is a method where it shows an error when value does not exist but discard method does not show an error.")

remove is a method where it shows an error when value does not exist but discard method does not show an error.

In [66]:
#Join A and B
a_union_b=A.union(B)
print(a_union_b)

{19, 20, 22, 24, 25, 26, 27, 28}

In [68]:
#Find A intersection B
a_intersection_b=A.intersection(B)
print(a_intersection_b)

{19, 20, 22, 24, 25, 26}

In [70]:
#Is A subset of B ?
a_subset_b=A.issubset(B)
print(a_subset_b)

True

In [72]:
#Are A and B disjoint sets

a_disjoint_b = A.isdisjoint(B)
print(a_disjoint_b)

False

In [73]:
#What is the symmetric difference between A and B
a_symmetric_difference_b = A.symmetric_difference(B)
print(a_symmetric_difference_b)

{27, 28}

In [74]:
#Delete the sets completely
A.clear()
B.clear()
print (A)
print (B)

set()
set()

In [75]:
#Convert the ages to a set and compare the length of the list and the set.
age_set=set(age)
print(age_set)
print ("difference between length of age",len(age)-len(age_set))

{19, 22, 24, 25, 26}
difference between length of age 3